name: Tailscale (iso)

on: 
  workflow_dispatch:
 
jobs:
  build:
    runs-on: buildjet-32vcpu-ubuntu-2204-arm
    steps:
      - name: chuẩn bị phần mềm
        run: |
          df -h
          free -h
          lscpu
          sudo apt update 
          sudo apt install neofetch
          neofetch

