name: test

on: 
  workflow_dispatch:
 
jobs:
  build:
    timeout-minutes: 1440
    runs-on: buildjet-16vcpu-ubuntu-2204
    steps:
      - name: chuẩn bị phần mềm
        run: |
          lsblk
          df -h 
          ls /dev
